<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <ul class="left hide-on-small-only">
      <li routerLinkActive="active"><a [routerLink]="['simple']">Simple</a></li>
      <li routerLinkActive="active"><a [routerLink]="['single-datepicker']">Single datepicker (fr)</a></li>
      <li routerLinkActive="active"><a [routerLink]="['reactive-forms']">Reactive forms</a></li>
      <li routerLinkActive="active"><a [routerLink]="['with-timepicker']">With timepicker</a></li>
      <li routerLinkActive="active"><a [routerLink]="['custom-ranges']">Custom ranges</a></li>
      <li routerLinkActive="active"><a [routerLink]="['full']">Full options</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
